@import "tailwindcss";

body {
  background-image: url("/starry-background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.glow-text {
  text-shadow: 0 0 5px #00f, 0 0 10px #00f, 0 0 15px #00f, 0 0 20px #00f;
}
